
.frame_left{
    box-sizing: border-box;

    position: absolute;
    width: 503px;
    height: 312px;
    left: 176px;
    top: 1131px;

    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21.3671px;
}

.frame_right{
    box-sizing: border-box;

    position: absolute;
    width: 503px;
    height: 312px;
    left: 760px;
    top: 1131px;

    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21.3671px;
}

.frame_left_h2{
    position: absolute;
    width: 375px;
    height: 123px;
    left: 55px;
    top: 64px;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: flex-end;

}

.frame_left_a{
    position: absolute;
    width: 232px;
    height: 33px;
    left: 55px;
    top: 217px;

    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
}

.frame_left_a:hover{
    font-size: 26px;
}

.frame_right_h2{
    position: absolute;
    width: 325px;
    height: 46.22px;
    left: 54.78px;
    top: 97px;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
}

.frame_right_a{
    position: absolute;
    width: 88.11px;
    height: 44.78px;
    left: 54.78px;
    top: 173.22px;

    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
}

.frame_right_a:hover{
    font-size: 26px;
}

.frame_right_top{
    box-sizing: border-box;

    position: absolute;
    z-index: 2;
    width: 266.78px;
    height: 98.81px;
    left: 786px;
    top: 7263px;

    background: #000000;
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    border-radius: 18.2417px;
}

.frame_right_top_text{
    position: absolute;
    z-index: 3;
    width: 222px;
    height: 54px;
    left: 22px;
    top: 23px;

    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
}

.frame_right_low{
    box-sizing: border-box;

    position: absolute;
    z-index: 2;
    width: 185px;
    height: 91px;
    left: 1006px;
    top: 7698px;

    background: #000000;
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    border-radius: 18.2417px;
}

.frame_right_low_text{
    position: absolute;
    z-index: 3;
    width: 138px;
    height: 54px;
    left: 23px;
    top: 19px;

    font-size: 22.8021px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;

}

.frame_left_top{
    box-sizing: border-box;

    position: absolute;
    z-index: 2;
    width: 285px;
    height: 113px;
    left: 287px;
    top: 7418px;

    background: #000000;
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    border-radius: 18.2417px;
}

.frame_left_top_text{
    position: absolute;
    z-index: 3;
    width: 233px;
    height: 54px;
    left: 26px;
    top: 30px;

    font-size: 22.8021px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}

.frame_left_low{
    box-sizing: border-box;

    position: absolute;
    z-index: 2;
    width: 175.58px;
    height: 65.37px;
    left: 509px;
    top: 7789px;

    background: #000000;
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    border-radius: 18.2417px;
}

.frame_left_low_text{
    position: absolute;
    z-index: 3;
    width: 125.41px;
    height: 26.6px;
    left: 25px;
    top: 19px;

    font-size: 22px;
    line-height: 27px;

    display: flex;
    align-items: flex-end;
}