body{
    position: relative;
    width: 1440px;
    height: 10784px;
    box-sizing: border-box;
    background: #000000;
}
*{
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

.phone1{
    position: absolute;
    z-index: 2;
    width: 333px;
    height: 668px;
    left: 923px;
    top: 150px;
}

.phone2\.1{
    position: absolute;
    z-index: 3;
    width: 332.56px;
    height: 667.15px;
    left: 100px;
    top: 2937px;
}

.phone2\.2{
    position: absolute;
    z-index: 3;
    width: 332.56px;
    height: 667.15px;
    left: 482px;
    top: 2937px;
}

.phone1\.1{
    position: absolute;
    z-index: 2;
    width: 498px;
    height: 999.06px;
    top: 1440px;

    transform: rotate(90deg);
}

.phone3\.1{
    position: absolute;
    z-index: 4;
    width: 332.56px;
    height: 667.15px;
    left: 638px;
    top: 4774px;
}

.phone3\.2{
    position: absolute;
    z-index: 4;
    width: 332.56px;
    height: 667.15px;
    left: 1051px;
    top: 5115px;
}

.main{
    max-width: 1440px;
    max-height: 10784px;
    box-sizing: border-box;
    background-attachment: fixed;
}

.phone6{
    position: absolute;
    left: 290.06px;
    top: 379px;
}

.screenshot{
    position: absolute;
    width: 675.46px;
    height: 377.87px;
    left: 386px;
    top: 405px;

    background-image: url(../images/phones/Screenshot2020-09-17at11.49.png);
}